<h2>Nuspojave</h2>
<!--
  TODO - add classess to abstract different lists vaccines, side-effect
  TODO - share classess between side effect and vaccine
-->
<h3>Pretraži po dugom opisu: </h3>
<input #longDescription type="text">
<button (click)="getSideEffectsByLongDescription(longDescription.value); longDescription.value='';">Pretraži</button>
<ul class="sideEffect">
  <li *ngFor="let sideEffect of sideEffects" (click)="onSelect(sideEffect)" [class.selected]="sideEffect === selectedSideEffect">
    <a routerLink="/side-effect/{{sideEffect.shortDescription}}">
      <span class="badge">{{sideEffect.shortDescription}}</span>
    </a>
    <span (click)="delete(sideEffect)" class="badge-light-delete">X</span>
  </li>
</ul>

<div>
  <h3>Unesi novu nuspojavu</h3>
  <div>
    <label>Kratki opis:
      <div>
        <input #shortDescription />
      </div>
    </label>
    <br />
    <label for="sideEffect">Dugi opis:
      <div>
        <textarea #longDescription2 cols="23" rows="5"></textarea>
      </div>
    </label>
    <br />
    <label for="priority">Prioritet:
      <br />
      <select name="priority" id="priority">
        <option #highPriority value="HIGH">HIGH</option>
        <option #mediumPriority value="MEDIUM">MEDIUM</option>
        <option #lowPriority value="LOW">LOW</option>
      </select>
    </label>
    <br />
  <button (click)="
  add(shortDescription.value,
  longDescription2.value,
  highPriority.selected ? highPriority.value :
  mediumPriority.selected ? mediumPriority.value :
  lowPriority.value);
  shortDescription.value = '';
  longDescription2.value = '';
  highPriority.selected = true;
  mediumPriority.selected = false;
  lowPriority.selected = false;
  ">Unesi nuspojavu</button>
</div>
